<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <img src="assets/images/em.png" width="30px" height="30px" alt="" />
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
              <strong>{{ pageFunction }} Demotion</strong>
            </div>
          </div>
        </div>
      </div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <div class="m-2" *ngIf="isLoading">
        <mat-progress-bar color="primary" mode="indeterminate">
        </mat-progress-bar>
      </div>
  
      <ng-container>
        <h6 class="mx-2">Demotion Details</h6>
        <form class="register-form mx-2" [formGroup]="mngForm">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Employee Name</mat-label>
                <input matInput formControlName="employeeName" required />
                <mat-icon matSuffix (click)="employeeLookup()">search</mat-icon>
                <mat-error *ngIf="mngForm.get('employeeName').hasError('required')">
                  Employee Name is required
                </mat-error>
              </mat-form-field>
            </div>
        
            
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Employee PF</mat-label>
              <input matInput formControlName="empNo" required />
              <mat-icon matSuffix (click)="employeeLookup()">search</mat-icon>
              <mat-error *ngIf="mngForm.get('empNo').hasError('required')">
                Employee PF is required
              </mat-error>
            </mat-form-field>
          </div>
      
        
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Effective Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="effectiveDate" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Job Grade</mat-label>
              <input matInput formControlName="jobGroupName" required />
              <mat-icon matSuffix (click)="jobGradeLookup()">search</mat-icon>
              <mat-error *ngIf="mngForm.get('jobGroupName').hasError('required')">
                Job Grade is required
              </mat-error>
            </mat-form-field>
          </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Previous Position</mat-label>
                <input matInput formControlName="prevPosition" required />
                <mat-error *ngIf="mngForm.get('prevPosition').hasError('required')">
                  Previous Position is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>New Position</mat-label>
                <input matInput formControlName="newPosition" required />
                <mat-icon matSuffix (click)="jobRoleLookup()">search</mat-icon>
                <mat-error *ngIf="mngForm.get('newPosition').hasError('required')">
                  New Position is required
                </mat-error>
              </mat-form-field>
            </div>
        
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Previous Basic Pay</mat-label>
                <input matInput formControlName="prevBasicPay" required readonly />
                <mat-error *ngIf="mngForm.get('prevBasicPay').hasError('required')">
                  Previous Basic Pay is required
                </mat-error>
              </mat-form-field>
            </div>
        
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>New Basic Pay</mat-label>
                <input matInput formControlName="newBasicPay" required/>
                <mat-error *ngIf="mngForm.get('newBasicPay').hasError('required')">
                  New Basic Pay is required
                </mat-error>
              </mat-form-field>
            </div>
        
           
        
      
  
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Demotion Reason</mat-label>
                <textarea matInput formControlName="demotionReason" required></textarea>
                <mat-icon matSuffix>compare_arrows</mat-icon>
                <mat-error *ngIf="mngForm.get('demotionReason').hasError('required')">
                  Demotion Reason is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
        
  
        <div class="row" *ngIf="!viewMode">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
            <div class="example-button-row" align="end">
              <button
                class="btn-space"
                mat-raised-button
                color="primary"
                [class.auth-spinner]="posting"
                [disabled]="!mngForm.valid || posting"
                (click)="submit()"
              >
                {{ pageFunction }} Demotion
              </button>
              <button
                mat-raised-button
                color="warn"
                (click)="onNoClick()"
                tabindex="-1"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  