.org-chart-container {
    max-width: 100%;
    max-height: 100vh;
    overflow: auto;
    position: relative;
    margin: 0 auto; /* Center the chart within the container */
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   // overflow: hidden; /* Prevent body overflow */
}
