<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="'Organization Structure'" [items]="['Organization']" [active_item]="'Structure'">
            </app-breadcrumb>
        </div>

        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card" style="min-height: 1200px;">
                   
                    
                    <div class="body">
                        <!-- <div class="table-responsive"> -->
                          <div class="materialTableHeader mx-3">
                            <div class="row">
                              <div class="col-2">
                                <ul class="header-buttons-left ms-0">
                                  <li class="dropdown">
                                    <h2>Organization Structure</h2>
                                  </li>
                      
                                  
                                  
                                </ul>
                              </div>

                              <div class="col-3">
                                <form [formGroup]="Form">
                                    <div class="row">
                                        <div class="col-9">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Enter the highest Employee PF</mat-label>

                                                <input matInput formControlName="empNo" readonly />

                                                <mat-error *ngIf="
                                            Form.get('empNo').hasError('required')
                                          ">
                                                    Please Enter Emp No
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-3 imp">
                                            <div class="m-l-10" matTooltip="Search EMPF">
                                                <button mat-mini-fab color="primary"
                                                    (click)="employeeLookup()">
                                                    <mat-icon class="col-white">search</mat-icon>
                                                </button>
                                            </div>
                                            <!-- <div class="m-l-10" matTooltip="From All Cost Centers">
                                                <button mat-mini-fab color="primary"
                                                    (click)="onCostCenterLookup('All')">
                                                    <mat-icon class="col-white">all_inclusive</mat-icon>
                                                </button>
                                            </div> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                              
                            </div>

                          </div>
                      

                        <!-- </div> -->


                        <app-d3-org-chart [data]="convertedData"></app-d3-org-chart>
                      </div>

                </div>
            </div>
        </div>
    </div>
</section>
