<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='asset.img' alt="avatar"> -->
                <img src="assets/images/emtec.png" alt="avatar" />
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
                        <h3 class="mb-1 text-dark text-center">Reset Password</h3>
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="onClose()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div class="card-body my-3">
            <p class="text-dark">
                Please use this form to reset your password using the registered
                username.
            </p>
            <br />
            <form [formGroup]="Form">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input class="text-dark" matInput formControlName="username" required />
                            <mat-error *ngIf="
                  Form.get('username').hasError('required') ||
                  Form.get('username').touched
                ">
                                Please enter a valid username
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput formControlName="password" [type]="hide1 ? 'password' : 'text'" required />
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{ hide1 ? "visibility_off" : "visibility"
                                    }}</mat-icon>
                            </button>
                            <mat-error *ngIf="
                Form
                  .get('password')
                  .hasError('required')
              "> New password is required </mat-error>
                            <mat-error *ngIf="
            Form
                  .get('password')
                  .hasError('pattern')
              "> Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special
                                character. </mat-error>
                            <mat-error *ngIf="
            Form
                  .get('password')
                  .hasError('minLength')
              "> Please enter atleast 10 characters. </mat-error>
                            <mat-error *ngIf="
            Form
                  .get('password')
                  .hasError('maxLength')
              "> Characters must not exceed 25. </mat-error>
                        </mat-form-field>


                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confirmpassword" [type]="hide2 ? 'password' : 'text'"
                                required />
                            <button mat-icon-button matSuffix (click)="hide2 = !hide2"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                <mat-icon>{{ hide2 ? "visibility_off" : "visibility"
                                    }}</mat-icon>
                            </button>
                            <mat-error *ngIf="
                Form
                  .get('confirmpassword')
                  .hasError('required')
              "> Confirm password is required </mat-error>
                            <mat-error *ngIf="
            Form
                  .get('confirmpassword')
                  .hasError('pattern')
              "> Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special
                                character. </mat-error>
                            <mat-error *ngIf="
            Form
                  .get('confirmpassword')
                  .hasError('minLength')
              "> Please enter atleast 10 characters. </mat-error>
                            <mat-error *ngIf="
            Form
                  .get('confirmpassword')
                  .hasError('maxLength')
              "> Characters must not exceed 25. </mat-error>
                        </mat-form-field>


                    </div>
                    <div class="d-grid my-2">
                        <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
                        class="auth-form-btn" [disabled]="!Form.valid" (click)="resetPassword()">
                            Reset Password
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <br />
  Form value = {{ Form.value | json }}
  <br />
  Form Status = {{ Form }} -->