//*****************************************************************************
.breadcrumb-banner {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-image: linear-gradient(to right, #1a1a1a, #354b2e); 
  border-radius: 10px;
  transition: background-image 0.5s ease-in-out;
}

.breadcrumb-banner:hover {
  background-image: linear-gradient(to right, #3d392d, #1a1a1a); 
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

nav {
  margin-bottom: 0;
  cursor: pointer; 
}

ol.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  display: inline-block;
  padding: 0 10px;
}

.breadcrumb-item a {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease-in-out;
}

.breadcrumb-item.active {
  color: #9789de;
}

.breadcrumb-item.active:hover {
  color: #fff;
}

.breadcrumb-item.active:hover::before {
  content: '';
  position: absolute;
  top: -10px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #9789de transparent;
}

//**********************************************************************

.user-det-box {
  background-image: linear-gradient(to right, #003300, #270227);
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;

  color: #ffffff;

  .row {
    display: flex;
    overflow-x: hidden;

    .col-md-3 {
      flex: 1;
      border-right: 1px solid #ffffff;

      &:last-child {
        border-right: none;
      }

      strong {
        font-weight: bold;
        font-size: 14px;
        color: #ffffff; 
      }

      p {
        font-size: 16px;
        color: #ffffff; 
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  }
}

.content-animation {
  animation: moving 10s linear infinite;
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.col-md-3:first-child .content-animation {
  animation-delay: -5s;
}

//**********************************************************************

.row {
  display: flex;
  flex-wrap: wrap;

  .col-lg-6 {
    flex: 1;
    display: flex;
    flex-direction: column;
    //margin-bottom: 15px;

    .card {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;

      .card-body {
        display: flex;
        flex-direction: column;
      }
    }
  }
}



.card {
  background-color: #f8f8f8; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom: 2px solid #27ae60; 
}

.custom-font {
  color: #5b346a; 
  font-family: 'Dancing Script', cursive;
}

.col-green {
  color: #27ae60; 
}

.card-content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.table {
  margin-bottom: 0;
  border: 1px solid #dcdcdc;
}

tbody tr td {
  padding: 12px;
  font-size: 14px;
  color: #555; 
}

tbody tr td span:first-child {
  display: inline-block;
  font-weight: bold;
}

//*********************************************************************


// Dashboard styles
.dashboard {
  padding: 20px;
  margin-top: 60px;
  
  .block-header {
    text-align: center;
    margin-bottom: 30px;
    
    h2 {
      font-size: 24px;
      color: #333;
      font-weight: bold;
    }
  }
  
  .row {
    margin-bottom: 30px;
    
    .col-lg-4 {
      @media (max-width: 1199px) {
        flex-basis: 50%;
        max-width: 50%;
      }
      
      @media (max-width: 767px) {
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    .box-part {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
      cursor: pointer;

      i {
        display: block;
        margin-bottom: 15px;
      }
      
      .title {
        h3 {
          font-size: 20px;
          color: #333;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
      
      .text {
        span {
          color: #777;
          font-size: 14px;
        }
      }
      
      a {
        display: inline-block;
        margin-top: 20px;
        color: #007bff;
        font-size: 14px;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }

 
    .box-part:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
      background: linear-gradient(
        rgba(234, 234, 234, 0.9),
        rgba(243, 243, 243, 0.6)
      );
    }
  
  
    .box-part i {
      display: block;
      color: #555;
    }
  
    .box-part .title h3 {
      font-size: 20px;
      color: #333;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .box-part .text span {
      color: #777;
      font-size: 14px;
    }
  


  }
}

// Container styles
.container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-details-icon {
  color: #777; 
}

.view-details-icon i {
  font-size: 14px; 
  margin-left: 10px;
  margin-right: 10px;
}




.arrow-box-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  width: 50px; 
  height: 50px; 
}

.arrow-box-icon i {
  color: #777;
  font-size: 15px;
  margin: auto;
}


.green-button:hover {
  background-color: #4CAF50;
}


.custom-font {
  font-family: 'Roboto', sans-serif;
}




//*******************************************************************************************************************
// 
//*******************************************************************************************************************
.footer:hover {
  background-image: linear-gradient(to right, #100210, #1a1a1a); /* Updated colors */
}
.footer {
  background-image: linear-gradient(to right, #1a1a1a, #253221);
  color: #fff;
  padding: 30px 0;
  border-radius: 10px;
}

.footer h4 {
  color: #fff;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  margin-bottom: 10px;
}

.footer p {
  color: #fff;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  transition: color 0.3s ease-in-out;
}

.footer ul li a:hover {
  color: #9789de;
}

// .social-icons {
//   display: flex;
//   align-items: center;
// }

// .social-icons li {
//   margin-right: 10px;
// }

// .social-icons li a {
//   display: flex;
//   align-items: center;
//   color: #444;
//   text-decoration: none;
//   transition: color 0.3s ease-in-out;
// }

// .social-icons li a:hover {
//   color: #9789de;
// }

// .social-icons li a mat-icon {
//   font-size: 24px;
//   margin-right: 10px;
// }

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li a {
  display: flex;
  align-items: center;
  color: #444;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-icons li a:hover {
  color: #9789de;
}

.social-icons li a mat-icon,
.social-icons li a i {
  font-size: 24px;
  margin-right: 10px;
}

hr {
  border-top: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyright {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.logo {
  width: 100px;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}
.vendor-logo, .client-logo {
  text-align: center;
}

.vendor-logo img, .client-logo img {
  margin: 0 auto;
}

.vendor-logo img {
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
}

.client-logo img {
  //background-color: #fff;
  border-radius: 0%;
  padding: 2px;
  height: 100px;
  width: 380px;
}
