

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="body">
        <div class="row align-items-center">
          <div class="col-md-2 p-2">
            <img src="assets/images/pngegg8.png" alt="" width="300px" height="170px" class="px-2 mx-2">
          </div>
          
          <div class="col-md-10">
            <h4 class="font-20 weight-500 mb-2">
              Welcome back <div class="weight-600 font-30 col-green pt-1">{{currentUser}}!</div>
            </h4>
<p class="font-18 max-width-600">The Kingdom Bank ERP system integrates key modules including Human Resources, Procurement, Inventory, Finance, and 
              Budgeting to enhance operational efficiency and streamline processes. For detailed guidance on using these modules, please refer to the system documentation.</p>          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="body">
        <div class="row align-items-center">
          <div class="col-md-4">
            <img src="assets/images/dashImg2.jpg" alt="Welcome Image" class="w-100">
          </div>
          <div class="col-md-8">
            <h4 class="font-24 weight-500 mb-2">
              Welcome back <div class="weight-600 font-30 col-blue pt-1">John Doe!</div>
            </h4>
            <p class="font-18 max-width-600">Thank you for choosing our finance system for your payment and invoicing needs. We are committed to providing you with reliable and efficient service. Please feel free to contact us if you have any questions or concerns.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="body">
  <div class="row align-items-center">
    <div class="col-md-4">
      <img src="assets/images/finance-system/welcome-image.png" alt="Welcome Image" class="w-100">
    </div>
    <div class="col-md-8">
      <h4 class="font-24 weight-500 mb-2">
        Welcome back <div class="weight-600 font-30 col-blue pt-1">John Doe!</div>
      </h4>
      <p class="font-18 max-width-600">Thank you for choosing our finance system for your payment and invoicing needs. We are committed to providing you with reliable and efficient service. Please feel free to contact us if you have any questions or concerns.</p>
    </div>
  </div>
</div> -->


<div class="row clearfix">
  <!-- Bar chart with line -->
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12" >
    <div class="card" style="position: relative; height: 490px;">
      <div class="header">
        <h2>Supplier Payments</h2>
      </div>
      <div class="body">
        <div class="recent-report__chart">
          <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
            [xaxis]="lineChartOptions.xaxis" [stroke]="lineChartOptions.stroke" [colors]="lineChartOptions.colors"
            [dataLabels]="lineChartOptions.dataLabels" [legend]="lineChartOptions.legend"
            [tooltip]="lineChartOptions.tooltip" [markers]="lineChartOptions.markers" [grid]="lineChartOptions.grid"
            [yaxis]="lineChartOptions.yaxis" [title]="lineChartOptions.title" [fill]="lineChartOptions.fill">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
 
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="float-start">
          <h6 class="text-muted">Average Daily Invoices</h6>
          <h5>12 Invoices <span class="text-muted font-12">(Average)</span></h5>
        </div>
        <div class="mb-5">
          <apx-chart [series]="performanceRateChartOptions.series" [chart]="performanceRateChartOptions.chart"
            [xaxis]="performanceRateChartOptions.xaxis" [stroke]="performanceRateChartOptions.stroke"
            [colors]="performanceRateChartOptions.colors" [dataLabels]="performanceRateChartOptions.dataLabels"
            [legend]="performanceRateChartOptions.legend" [markers]="performanceRateChartOptions.markers"
            [grid]="performanceRateChartOptions.grid" [yaxis]="performanceRateChartOptions.yaxis"
            [tooltip]="performanceRateChartOptions.tooltip" [title]="performanceRateChartOptions.title"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>