<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'All Clients'" [items]="['Client']" [active_item]="'All Clients'">
            </app-breadcrumb>
        </div>

        <app-gen-widgets></app-gen-widgets>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-8">
                                        <ul class="header-buttons-left ms-0">
                                            <li class="dropdown">
                                                <h2>Clients</h2>
                                            </li>
                                            <li class="dropdown m-l-20">
                                                <label for="search-input"><i
                                                        class="material-icons search-icon">search</i></label>
                                                <input placeholder="Filter..." type="text" (keyup)="applyFilter($event)"
                                                    #filter class="browser-default search-field"
                                                    aria-label="Search box" />
                                            </li>
                                            <li>
                                                <div class="m-l-10" matTooltip="ADD">
                                                    <button mat-mini-fab color="primary" (click)="mngRecord('Add', '')">
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="m-l-10" matTooltip="REFRESH">
                                                    <button mat-mini-fab color="primary" (click)="refresh()">
                                                        <mat-icon class="col-white">refresh</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li *ngIf="selection.selected.length > 0">
                                                <div class="m-l-10" matTooltip="APPROVE">
                                                    <button mat-mini-fab color="primary"
                                                        (click)="processMultipleRows('APPROVED')"
                                                        class="mat-button-custom">
                                                        <mat-icon class="col-white">check</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li *ngIf="selection.selected.length > 0">
                                                <div class="m-l-10" matTooltip="REJECT">
                                                    <button mat-mini-fab color="warn"
                                                        (click)="processMultipleRows('REJECTED')"
                                                        class="mat-button-custom">
                                                        <mat-icon class="col-white">cancel</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li *ngIf="selection.selected.length > 0">
                                                <div class="m-l-10" matTooltip="RETURN">
                                                    <button mat-mini-fab color="accent"
                                                        (click)="processMultipleRows('RETURNED')"
                                                        class="mat-button-custom">
                                                        <mat-icon class="col-white">undo</mat-icon>
                                                    </button>
                                                </div>
                                            </li>

                                            <li *ngIf="selection.selected.length > 0">
                                                <div class="m-l-10" matTooltip="ENROLL TO PENSION">
                                                    <button mat-mini-fab color="primary" (click)="enrollToPension()"
                                                        class="mat-button-custom">
                                                        <mat-icon class="col-white">person_add</mat-icon>
                                                    </button>
                                                </div>
                                            </li>

                                            <li *ngIf="selection.selected.length > 0">
                                                <div class="m-l-10" matTooltip="BULK UPDATE USER MANAGEMENT DETAILS">
                                                    <button mat-mini-fab color="primary"
                                                        (click)="bulkUpdateUserManagement()" class="mat-button-custom">
                                                        <mat-icon class="col-white">edit</mat-icon>
                                                    </button>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="header-buttons">
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="XLSX">
                                                    <img src="assets/images/icons/xlsx.png" alt="" (click)="
                              exporter.exportTable('xlsx', {
                                fileName: 'client-list',
                                sheet: 'sheet1'
                              })
                            " />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="CSV">
                                                    <img src="assets/images/icons/csv.png" alt=""
                                                        (click)="exporter.exportTable('csv')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="JSON">
                                                    <img src="assets/images/icons/json.png" alt=""
                                                        (click)="exporter.exportTable('json')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="TXT">
                                                    <img src="assets/images/icons/txt.png" alt=""
                                                        (click)="exporter.exportTable('txt')" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="materialTableHeader mt-2">
                                <div class="row">
                                    <div class="col-2">
                                        <form [formGroup]="Form">

                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Status</mat-label>

                                                <mat-select formControlName="status">
                                                    <mat-option *ngFor="let reqStatus of reqStatuses"
                                                        [value]="reqStatus.name">{{ reqStatus.name
                                                        }}
                                                    </mat-option>
                                                </mat-select>

                                                <mat-error *ngIf="Form.get('status').hasError('required')">
                                                    Please select Status
                                                </mat-error>
                                            </mat-form-field>

                                        </form>
                                    </div>
                                    <div class="col-10">
                                        <div class="button-container mt-1">
                                            <button mat-raised-button [class.active]="selectedStatus === 'ALL'"
                                                class="mat-button verified" (click)="getSelectedStatus('ALL')">
                                                <mat-icon>check_circle</mat-icon>
                                                ALL
                                            </button>

                                            <button mat-raised-button [class.active]="selectedStatus === 'PENDING'"
                                                class="mat-button pending" (click)="getSelectedStatus('PENDING')">
                                                <mat-icon>pending</mat-icon>
                                                PENDING
                                            </button>

                                            <button mat-raised-button [class.active]="selectedStatus === 'APPROVED'"
                                                class="mat-button approved" (click)="getSelectedStatus('APPROVED')">
                                                <mat-icon>thumb_up</mat-icon>
                                                APPROVED
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
<div class="materialTableHeader mt-2">
  <div class="row">
    <div class="col-4">
      <form [formGroup]="Form">
        <div class="row">
          <div class="col-8">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Client ID</mat-label>
              <input matInput formControlName="clientIdFilter" 
                     placeholder="Enter Client ID to search or create" />
              <mat-hint>Type to search or create new client</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-2 imp">
            <div class="m-l-10" matTooltip="Search client">
              <button mat-mini-fab color="primary" (click)="searchClient()">
                <mat-icon class="col-white">search</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-2 imp">
            <div class="m-l-10" matTooltip="Quick Add Client">
              <button mat-mini-fab color="accent" (click)="quickAddClient()">
                <mat-icon class="col-white">add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2">
      <form [formGroup]="Form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let reqStatus of reqStatuses" [value]="reqStatus.name">
              {{ reqStatus.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="col-6">
      <div class="button-container mt-1">
        <button mat-raised-button [class.active]="selectedStatus === 'ALL'"
                class="mat-button verified" (click)="getSelectedStatus('ALL')">
          <mat-icon>check_circle</mat-icon>
          ALL
        </button>
        <button mat-raised-button [class.active]="selectedStatus === 'PENDING'"
                class="mat-button pending" (click)="getSelectedStatus('PENDING')">
          <mat-icon>pending</mat-icon>
          PENDING
        </button>
        <button mat-raised-button [class.active]="selectedStatus === 'APPROVED'"
                class="mat-button approved" (click)="getSelectedStatus('APPROVED')">
          <mat-icon>thumb_up</mat-icon>
          APPROVED
        </button>
      </div>
    </div>
  </div>
</div>

                            <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                                #exporter="matTableExporter">
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-4'">
                                        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [ngClass]="'tbl-checkbox'" (change)="expSelected()">
                                        </mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-4'">
                                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'"
                                            [aria-label]="checkboxLabel(row)" (change)="expSelected()">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="clientId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="column-nowrap psl-3 tbl-col-width-per-10">
                                        clientId
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-10">
                                        {{ row.clientId }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="fullName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="column-nowrap psl-3 tbl-col-width-per-10">FullName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-10">
                                        {{ row.fullName }}
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="nationalId">
                                    <mat-header-cell *matHeaderCellDef class="column-nowrap psl-3 tbl-col-width-per-20">
                                        National ID
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                                        {{ row.nationalId }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="clientType">
                                    <mat-header-cell *matHeaderCellDef class="column-nowrap psl-3 tbl-col-width-per-20">
                                        Client Type
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                                        {{ clientTypeMap[row.ClientTypeID] || row.ClientTypeID }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Address">
                                    <mat-header-cell *matHeaderCellDef class="column-nowrap psl-3 tbl-col-width-per-20">
                                        Address
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                                        {{ row.Address }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="personalEmail">
                                    <mat-header-cell *matHeaderCellDef class="column-nowrap psl-3 tbl-col-width-per-20">
                                        Personal Email
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                                        {{ row.personalEmail }}
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="gender">
                                    <mat-header-cell *matHeaderCellDef class="column-nowrap psl-3 tbl-col-width-per-20">
                                        Gender
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                                        {{ row.gender }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="age">
                                    <mat-header-cell *matHeaderCellDef class="column-nowrap psl-3 tbl-col-width-per-10">
                                        Age
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-10">
                                        {{ calculateAge(row.dob) }}
                                    </mat-cell>
                                </ng-container>


                               <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="column-nowrap psl-3 tbl-col-width-per-20">
                                        Status
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index"
                                        class="column-nowrap psl-3 tbl-col-width-per-20"
                                        (click)="$event.stopPropagation()">
                                        <ng-container [ngSwitch]="row.status">
                                            <button *ngSwitchCase="'APPROVED'"
                                                class="badge badge-solid-green btn btn btn-sm m-1">
                                                <i class="fas fa-check-circle"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                            <button *ngSwitchCase="'REJECTED'"
                                                class="badge badge-solid-red btn btn btn-sm m-1">
                                                <i class="fas fa-times-circle"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                            <button *ngSwitchCase="'RETURNED'"
                                                class="badge badge-solid-brown btn btn btn-sm m-1">
                                                <i class="fas fa-undo-alt"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                            <button *ngSwitchCase="'PENDING'"
                                                class="badge badge-solid-blue btn btn btn-sm m-1">
                                                <i class="fas fa-exclamation-circle"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                            <button *ngSwitchDefault class="badge badge-solid-brown btn btn btn-sm m-1">
                                                <i class="fas fa-question-circle"></i>&nbsp;
                                                {{ row.status }}
                                            </button>
                                        </ng-container>
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef
                                        class="column-nowrap psl-3 tbl-col-width-per-40"  colspan="2">Action</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-40"  colspan="2">
                                        <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                            (click)="mngRecord('View', row)">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>

                                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                                            (click)="mngRecord('Update', row)" class="tbl-action-btn">
                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                                            </app-feather-icons>
                                        </button>

                                        <button mat-icon-button color="warn" (click)="$event.stopPropagation(); deleteRecordByClientId(row.clientId)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <!-- <td mat-cell *matCellDef="let row">
                                    <mat-icon *ngIf="hasPrivilege('Maintain Employee Management')" color="primary" (click)="onView(row.id)">
                                      visibility</mat-icon>
                                    &nbsp; &nbsp;
                                    <mat-icon *ngIf="hasPrivilege('Maintain Employee Management')" class="text-primary" (click)="onAccountCreation(row)">vpn_key</mat-icon>
                                    &nbsp; &nbsp;
                                    <mat-icon *ngIf="hasPrivilege('Maintain Employee Management')" class="text-primary" (click)="onUpdate(row.id)">update</mat-icon>
                                    &nbsp; &nbsp;
                                    <mat-icon *ngIf="hasPrivilege('Maintain Employee Management')" color="warn" (click)="onDelete(row.id)">delete</mat-icon>
                                  </td> -->

                                <mat-header-row *matHeaderRowDef="displayedColumns">
                                </mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns"
                                    (click)="mngRecord('View', row)" [style.cursor]="'pointer'" matRipple>
                                </mat-row>

                                <tr *matNoDataRow>
                                    <td colspan="{{ displayedColumns.length }}">
                                        No data matching the filter "{{ input }}"
                                    </td>
                                </tr>
                            </mat-table>
                            <div class="m-2 mx-2" *ngIf="loading || downloadLoading">
                                <mat-progress-bar color="primary" mode="indeterminate">
                                </mat-progress-bar>
                            </div>
                            <div *ngIf="loading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>

                            <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 5, 10, 20, 30, 40, 50, 100]"
                                aria-label="Select page of users">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>