<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <img src="assets/images/em.png" width="30px" height="30px" alt="" />
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
              <strong>{{ pageFunction }} KPI Schedule</strong>
            </div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <div class="m-2" *ngIf="isLoading">
        <mat-progress-bar color="primary" mode="indeterminate">
        </mat-progress-bar>
      </div>
  
      <ng-container>
        <h6 class="mx-2">KPI Schedule Details</h6>
        <form class="register-form mx-2" [formGroup]="mngForm">
            <div class="row">
                <!-- Quarter -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Quarter</mat-label>
                        <mat-select formControlName="quarter">
                            <mat-option *ngFor="let item of quarters" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="mngForm.get('quarter').invalid && mngForm.get('quarter').touched">
                            Quarter is required
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <!-- Date -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Review Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="mngForm.get('date').invalid && mngForm.get('date').touched">
                            Review Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        
        <div class="row" *ngIf="!viewMode">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
            <div class="example-button-row" align="end">
              <button class="btn-space" mat-raised-button color="primary" [class.auth-spinner]="posting"
                [disabled]="!mngForm.valid || posting" (click)="submit()">
                {{ pageFunction }} KPI Schedule
              </button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>