<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'">
      </app-breadcrumb>
    </div>
    <!-- Widgets -->
   <app-gen-widgets></app-gen-widgets>
    <!-- #END# Widgets -->


    <div class="row">
      <app-analytics></app-analytics>
    </div>

    <!-- <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-invoices-issued></app-invoices-issued>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-purchase-orders-issued></app-purchase-orders-issued>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-withholding-collected></app-withholding-collected>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-value-added-tax-collected></app-value-added-tax-collected>
      </div>
    </div> -->