<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img src="assets/images/em.png" width="30px" height="30px" alt="" />
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
            <strong>{{ pageFunction }} Transfer</strong>
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="m-2" *ngIf="isLoading">
      <mat-progress-bar color="primary" mode="indeterminate">
      </mat-progress-bar>
    </div>

    <ng-container>
      <h6 class="mx-2">Transfer Details</h6>
      <form class="register-form mx-2" [formGroup]="mngForm">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Emp Pf</mat-label>
              <input matInput formControlName="empPf" required readonly/>
              <mat-icon matSuffix (click)="employeeLookup()" [hidden]="this.pageFunction == 'Add My' || this.pageFunction == 'Update My' || this.pageFunction == 'View My'">search</mat-icon>
              <mat-error *ngIf="mngForm.get('empPf').hasError('required')">
                Employee PF is required
              </mat-error>
            </mat-form-field>
          </div>
          


          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Branch Name</mat-label>
              <input matInput formControlName="newBranchName" required readonly/>
              <mat-icon matSuffix (click)="branchLookup()">search</mat-icon>
              <mat-error *ngIf="mngForm.get('newBranchName').hasError('required')">
                New Branch Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Branch Fk</mat-label>
              <input matInput formControlName="newBranchFk" required readonly/>
              <!-- <mat-icon matSuffix (click)="branchLookup()">search</mat-icon> -->
              <mat-error *ngIf="mngForm.get('newBranchFk').hasError('required')">
                New Branch Fk is required
              </mat-error>
            </mat-form-field>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Department Name</mat-label>
              <input matInput formControlName="newDepartmentName" required readonly/>
              <mat-icon matSuffix (click)="departmentLookup()">search</mat-icon>
              <mat-error *ngIf="mngForm.get('newDepartmentName').hasError('required')">
                New Department Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Department Fk</mat-label>
              <input matInput formControlName="newDepartmentFk" required readonly/>
              <!-- <mat-icon matSuffix (click)="departmentLookup()">search</mat-icon> -->
              <mat-error *ngIf="mngForm.get('newDepartmentFk').hasError('required')">
                New Department Fk is required
              </mat-error>
            </mat-form-field>
          </div>

          
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Cost Center Name</mat-label>
              <input matInput formControlName="newCostCenterName" required readonly/>
              <mat-icon matSuffix (click)="costCentreLookup()">search</mat-icon>
              <mat-error *ngIf="mngForm.get('newCostCenterName').hasError('required')">
                New Cost Center Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Cost Center Code</mat-label>
              <input matInput formControlName="newCostCenterCode" required readonly/>
              <!-- <mat-icon matSuffix (click)="costCentreLookup()">search</mat-icon> -->
              <mat-error *ngIf="mngForm.get('newCostCenterCode').hasError('required')">
                New Cost Center Code is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Reporting To Name</mat-label>
              <input matInput formControlName="newReportingToName" required readonly/>
              <mat-icon matSuffix (click)="supervisorLookup()">search</mat-icon>
              <mat-error *ngIf="mngForm.get('newReportingToName').hasError('required')">
                New ReportingTo Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Reporting To PF</mat-label>
              <input matInput formControlName="newReportingToPF" required readonly/>
              <!-- <mat-icon matSuffix (click)="supervisorLookup()">search</mat-icon> -->
              <mat-error *ngIf="mngForm.get('newReportingToPF').hasError('required')">
                New ReportingTo PF is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Organization Role</mat-label>
              <input matInput formControlName="newOrganizationRole" required readonly/>
              <mat-icon matSuffix (click)="organizationLookup()">search</mat-icon>
              <mat-error *ngIf="mngForm.get('newOrganizationRole').hasError('required')">
                New Organization Role is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Organization Fk</mat-label>
              <input matInput formControlName="newOrganizationFk" required readonly/>
              <!-- <mat-icon matSuffix (click)="departmentLookup()">search</mat-icon> -->
              <mat-error *ngIf="mngForm.get('newOrganizationFk').hasError('required')">
                New Organization Fk is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Reason</mat-label>
              <textarea matInput formControlName="reason" required></textarea>
              <mat-icon matSuffix>compare_arrows</mat-icon>
              <mat-error *ngIf="mngForm.get('reason').hasError('required')">
                Reason is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>

      <div class="row" *ngIf="!viewMode">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <div class="example-button-row" align="end">
            <button class="btn-space" mat-raised-button color="primary" [class.auth-spinner]="posting"
              [disabled]="!mngForm.valid || posting" (click)="submit()">
              {{ pageFunction }} Transfer
            </button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>